* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

aside {
  width: 250px;
  height: 100dvh;
  background-color: #ccc;
}

main.container {
  display: flex;
  gap: 2rem;
}

section.dash__container {
  display: flex;
  flex-direction: column;
}

section.dash__info__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
section.dash__info__container > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
}
.box__1 {
  width: 200px;
  height: 150px;
  background-color: green;
}
.box__2 {
  width: 200px;
  height: 150px;
  background-color: yellowgreen;
}
.box__3 {
  width: 200px;
  height: 150px;
  background-color: greenyellow;
}

.box__4 {
  width: 200px;
  height: 150px;
  background-color: yellow;
}
