.login__block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 60px;
}

.welcome__image {
  width: 500px;
  border: 1px solid #ccc;
}

.form__section {
  width: 500px;
  border: 1px solid #ccc;
}

.page__link {
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.3s;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 700px;
  gap: 5px;
}

.form-group > input:focus{
  outline: none;
}

@media (max-width: 800px) {
  .welcome__image {
    display: none;
  }
  .login__image {
    display: none;
  }
  .form__section {
    border: none;
    height: 55vh;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }

  form input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
  }

  form button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
}
