main {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .account_action {
    font-family: "Lato", Helvetica "Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center; 
  }