.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-form {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.form-btn {
    display: flex;
    justify-content: center;
}

.btn-primary {
    width: 300px;
    height: 40px;
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-bottom: 5px;
}

frame {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

iframe {
    width: 700px;
    height: 300px;
    margin: 10px 0px;
}