footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  min-width: 100%;
  min-height: 400px;
  margin-top: 50px;
  color: #fff;
}

.top-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  margin: 0;
}

.left-footer,
.center-footer,
.right-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.left-footer > ul,
.center-footer > ul,
.right-footer > ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  gap: 5px;
}

.left-footer > ul > li > a,
.center-footer > ul > li > a,
.right-footer > ul > li > a {
  color: #fff;
  text-decoration: none;
}
