* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #eee;
  }
  
  a {
    color:#fff;
    text-decoration: none;
  }
  
  a:hover {
    color:#ccc;
  }
  
  h2 {
    font-size: 12pt;
    border-left: 3px #00B0B8 solid;
    padding-left: 8px;
    text-transform: uppercase;
  }
  
  input {
    border-radius: 1px;
    border: none;
    padding: 10px;
     width: 280px;
  }
  
  button {
    border-radius: 1px;
    border: none;
    padding: 10px 20px;
    color:#fff;
    background-color: #00B0B8;
    text-transform: uppercase;
  }
  
  footer {
    color: #fff;
    background-color: #000000b6;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
  
  .footer {
    width: 1200px;
    margin: auto;
  }
  
  .col {
    display: inline-block;
    padding-bottom: 15px;
  }
  
  .col-1 {
    width: 33%;
  }
  .col-2 {
    width: 33%;
  }
  .col-3 {
    width: 33%;
    text-align: right;
  }
  
  .ftr-menu a {
    padding-left: 20px;
  }
  
  .social a {
    padding-left: 15px;
  }
  
  .btm-bar {
    padding-top: 20px;
    border-top: #ccc 1px solid;
    padding-bottom: 40px;
    font-size: 9pt;
  }
  
  .bar-l {
    float: left;
  }
  .bar-r {
    text-align: right;
    float: right;
  }