main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section_type {
    font-family: 'Lato',Helvetica 'Neue',Helvetica,Arial,sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 4px 10rem;
}
.products {
    display: flex;
    margin: 4px 10rem;
    align-items: center;
    gap: 20px;
}
.product_item {
    max-width: 245px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
    text-align: center;
}

.product_item > .product_description {
    font-size: 16px; 
    letter-spacing: 4px;
}
.product_item > img  {
    width: 100%;
    height: 245px;
}

.product_item > .btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 0 0 0;
}

.view_btn {
    width: 200px;
    background: #ffffff;
    color: #a68f51;
    font-size: 18px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    -webkit-appearance: none;
    border: 1px solid #a68f51;
    margin: 15px auto 0 auto;
    display: block;
    cursor: pointer;
    float: inherit;
}

.basket_btn {
    width: 200px;
    color: #ffffff;
    background-color: #a68f51;
    font-size: 18px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    -webkit-appearance: none;
    border: 1px solid #a68f51;
    margin: 15px auto 0 auto;
    display: block;
    cursor: pointer;
    float: inherit;
}
