html {
    font-size: 100%;
}
body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    color: #666;
    font-size: 1rem;
}
.container {
    width: 60vw;
    height:300px;
    top: 0;
    left: 0;
    margin-top: 10px;
}
.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.slide-content p {
    font-size: calc(1rem + 10 * (100vw - 375px)/ (1199 - 375));
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0.5em;
}
h1,
h2 {
    margin-top: 0;

    font-size: calc(2rem + 28 * (100vw - 375px)/ (1199 - 375));
    margin-bottom: 0.2em;
    font-weight: bold;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: black;
}
@media (min-width: 1200px) {
    h1,
    h2 {
        font-size: 60px;
    }
    .slide-content p {
        font-size: 26px;
    }
}