header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-decoration: none;
  gap: 60px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

header > nav > ul > li {
  transition: all 0.3s ease;
}

header > nav > ul > li:hover {
  transform: scale(1.05);
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header-right-side,
.header-right-side > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right-side > span:first-of-type {
  border: 1px solid black;
  padding: 0 5px 0 0;
  border-radius: 5px;
}

.header-right-side > span:first-of-type > input {
  border: none;
  outline: none;
}

.header-right-side > span:first-of-type > button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.header-right-side > span:first-of-type > button > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header-right-side > span:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#person_img {
  width: 35px;
  height: 35px;
}

#bag_img {
  width: 25px;
  height: 25px;
}

.donunat_banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 800px;
}

.donunat_banner > img {
  width: 500px;
  height: 400px;
}
