#product-table {
    margin: 20px auto;
    border-spacing: 0;
    border: 3px solid #fff;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    z-index: 1;
}

#product-table th,
#product-table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

#table-text {
    text-align: center;
}

#table-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#checkout {
    text-align: center;
}

#checkout button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
}

#checkout button:hover {
    background-color: #45a049;
}

.remove-from-cart {
    background-color: #ff3333;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #cc0000;
}


#empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
}

#empty-cart div {
    background-color: #f0f0f0; 
    padding: 20px 30px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

#empty-cart p {
    font-size: 24px;
    color: #333;
}

#empty-cart button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px; 
}

#empty-cart button:hover {
    background-color: #0056b3; 
}


#empty-cart button > a {
    text-decoration: none;
    color: white;
}