@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import "mediaQuery.css";
@import "notification.css";
@import "form.css";
@import "cart.css";
@import "header.css";
@import "footer.css";
@import "faq.css";

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /*background-color: #000b4e; 
    color: #fff; */
}

.slide__block {
    height: 825px;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 600px;
    background-image: url('../img/background.png');
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
    border-radius: 4px;
    position: relative;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    height: 600px;
    text-align: center;
}

.text > span {
    position: relative;
    top: 35%;
}

.text > span > button  {
    width: 120px;
    padding: 10px 20px;
    background-color: rgba(0, 11, 78, 0.50);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
}

.text > span > button > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.text > span > button:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -75px;
}

.menu > h1, #table-text {
    font-size: 40px;
    font-family: 'Agbalumo', sans-serif;
}

.food-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.food-card {
    border: 3px solid #fff; 
    border-radius: 4px;
    padding: 5px 10px;
    transition: all .3s ease;
    flex-basis: calc(22% - 25px);
}

.food-card:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.1);
}

.food-card > img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.food-card > container > span > p:first-of-type {
    width: 300px;
}

.food-card > container > span > p:last-of-type > span {
    color: rgb(9, 175, 9);
    font-size: 18px;
}


.food-card > container > form > input[type='submit'] {
    width: 120px;
    height: 25px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}