.login__block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 3.6rem;
  }
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  
  .form > .form-group > input{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .form > .form-group > input  {
    min-width: 300px;
    min-height: auto;
  }
  .form > .form-group > input:focus {
    outline: none;
  }
  
  .form-btn > input{
    min-width: 300px;
    height: 45px; 
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #333;
    color: #fff;
  }
  
  .form__section {
    width: 500px;
    border: 1px solid #ccc;
  }
  
  .reset_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
  }
  .reset_link > p {
    font-size: 1.2rem;
  }
  .reset_link > a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem; 
  }
  
  .reset_link > a:hover {
    text-decoration: underline;
    color: blueviolet;
  }
  @media (max-width: 800px) {
    .welcome__image {
        display: none;
    }
    .login__image {
        display: none;
    }
    .form__section {
        border: none;
        height: 55vh;
    }
  
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 1em;
    }
  
    .form > .form-group > input {
        min-width: 300px;
        min-height: auto;
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        outline: none;
        font-size: 1rem;
    }
  
    .form > .form-btn> input[type="submit"] {
        width: 100%;
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        font-size: 1rem;
        font-weight: 700;
        background-color: #333;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
    }
  }