@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
@import "mediaQuery.css";
@import "notification.css";
@import "form.css";
@import "cart.css";
@import "header.css";
@import "footer.css";
@import "faq.css";

:root {
    --color-primary: #f9ed69;
    --color-secondary: #f08a5d;
    --color-tertiary: #b83b5e;
    --color-quaternary:  #000000b6;
    --color-quinary: #1e1f26;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{ 
    font-family: 'Poppins', sans-serif;
    /*background-color: #000b4e; 
    color: #fff; */
}

.slide__block {
    height: 825px;
}

.slideshow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 600px;
    background-image: url('https://www.cakebox.com/media/catalog/product/cache/df0d01e22a8a85d2938ee701a1022427/s/q/sq149.jpg');
    object-fit: cover;
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.text {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
    border-radius: 4px;
    position: relative;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1500px;
    height: 600px;
    text-align: center;
}

.text > span {
    position: relative;
    top: 35%;
}

.text > span > button  {
    width: 120px;
    padding: 10px 20px;
    background-color: rgba(0, 11, 78, 0.50);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
}

.text > span > button > a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.text > span > button:hover {
    transform: scale(1.1);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -75px;
}

.menu > h1, #table-text {
    font-size: 40px;
    font-family: 'Agbalumo', sans-serif;
}
 